@charset "utf-8";

#login-form, .hallSelector {
	display: block;
	clear:left;
	position:static;
	float: inherit;
    border: none;
}

.login_banner {
	margin: 20px 0 60px 0;
	height: 100px;
	background-color: rgb(155, 15, 15);
}

#register-box {
	display: none;
	top: 5%;
	left: 25%;
}

.row {
	width: inherit;
	height: 20px;
	margin-top: 10px;
	padding: 0 10px 0 10px;
}

.row span {
	font-size: 22px;
	font-family: Liberation sans;
	display: block;
	float: left;
	margin-top: 5px;
	color: #7B8587;
	font-stretch: condensed;
}

.show_item {
	width: 150px;
	height: 200px;
	display: block;
	float: left;
	margin:14px 40px 7px 20px;
}

.show_item span {
	font-family: Liberation sans;
	font-size: 15px;
	display: block;
	color: #7B8587;
	text-shadow: 0 1px 1px #808080;
	text-align: center;
}

.show_item img {
	box-shadow: 1pt 1px 3px #ccc, 0px 0px 4px 2px;
	background-color: white;
	padding: 1px;
	margin: 10px 50px 7px 20px;
	display: block;
	float: left;
}

.show_item a img:HOVER, .show_item span:HOVER + img {
	background-color: #808080;
	box-shadow: 1pt 1px 8px #808080, 0px 0px 4px 2px;
	font-size: 18px;
}
	