@charset "utf-8";

#login-form {
	display: block;
	clear:left;
	position:static;
	float: inherit;
    border: none;
}

.login_banner {
	margin: 20px 0 60px 0;
	height: 100px;
	background-color: rgb(155, 15, 15);
}

#register-box {
	display: none;
	top: 5%;
	left: 25%;
}