@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	width: 100%;
	color: #aeaeae;
	font: normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
	background: #09607b;
}

html,.main {
	padding: 0;
	margin: 0;
}

.main {
	background: url(../images/header_bg.jpg) no-repeat center 51px;
}

.clr {
	clear: both;
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 0;
	line-height: 0;
}

p {
	margin: 8px 0;
	padding: 0 0 8px 0;
}

a {
	color: #9b0f0f;
	text-decoration: underline;
}

.header,.content,.menu_nav,.fbg,.footer,form,ol,ol li,ul,.content .mainbar,.content .sidebar
	{
	margin: 0;
	padding: 0;
}


.header_resize {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}

.logo {
	background-color: rgb(155, 15, 15);
	margin: 0;
	padding: 0;
	float: none;
	height: 169px;
}

.logo img {
	position: relative;
	margin: 60px 230px 20px 0px;
	
}

h1 {
	margin: 0;
	padding: 60px 0px 0 260px;
	font-size: 40px;
	font-weight: normal;
	line-height: 1.2em;
	text-transform: none;
	text-align: center;
	font-family: 'CenturyGothicBold';
}

h1 a,h1 a:hover {
	color: #fff;
	text-decoration: none;
	font-size: 40px;
}

h1 a:hover{
	font-weight: normal;
}

h1 small {
	display: block;
	margin: 0;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.2em;
	letter-spacing: normal;
	text-transform: none;
	color: #fff;
	font-variant: small-caps;
}

.slider {
	padding: 0;
}

.rss {
	padding: 18px 20px 0 0;
	float: right;
	width: auto;
}

.rss p {
	margin: 0;
	padding: 0;
	float: right;
	width: auto;
	color: #fff;
	font-size: 13px;
	line-height: 1.5em;
	font-weight: bold;
}

.rss a {
	color: #fff;
	text-decoration: none;
}

.rss a:hover {
	text-decoration: underline;
}

.rss img {
	margin: -3px 0 -3px 6px;
	border: none;
}

.menu_nav {
	margin: 0 auto;
	padding: 0;
	height: 50px;
	background: url(../images/menu_nav.jpg);
}

.menu_nav ul,.login ul,.post_login span {
	list-style: none;
	height: 50px;
	float: left;
	display: inline;
}

.menu_nav ul li,.post_login span span {
	margin: 0;
	padding: 0 2px 0 0;
	float: left;
}

.login ul li {
	margin: 0;
	padding: 0 2px 0 0;
	float: left;
}

nav ul ul {
	border-radius: 0px;
	padding: 0;
	position: relative;
	top: 100%;
	background: url(../images/menu_nav.jpg);
	top: 100%;
	display: none;
	left: -9999px;
}

nav ul li:HOVER ul {
	left: inherit;
	display: inline-table;
	float: left;
}

nav ul ul li {
	list-style: none;
	float: left;
	position: relative;
	clear: left;
	z-index: 1000;
	background: url(../images/menu_nav.jpg);
}

.post_login span span {
	background: none;
	margin-top: 16px;
	margin-right : 10px;
	color: #000;
	font-size: 13px;
	font-weight: bold;
}

.menu_nav ul li:HOVER a {
	background: url(../images/menu_nav.jpg);
}

nav ul:after {
	content: "";
	clear: both;
	display: block;
}

.menu_nav ul li a,.login a .post_login span span a {
	display: block;
	margin: 0px 5px 0px 5px;
	padding: 17px 28px 0;
	height: 33px;
	font-size: 13px;
	line-height: 17px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	text-transform: none;
	text-align: center;
	background: none;
}

.menu_nav ul li.active a,.menu_nav ul li a:hover,.login ul li.active a,.login ul li a:hover,.login a:hover,.post_login_a:hover
	{
	text-decoration: none;
	color: #fff;
	text-shadow: #CCC;
	font-weight: bold;
	font-size: 14px;
	margin: 0;
}

nav ul ul li a {
	white-space: nowrap;
}

.content {
	padding: 0;
}

.content_resize {
	margin: 0 auto;
	padding: 18px 0 32px;
	width: 960px;
	background: #f0f0f0 repeat-x left bottom;
	overflow: auto;
	height: 1240px;
}

.content .mainbar {
	margin: 0;
	padding: 0;
	width: 960px;
}

.content div.img {
	padding: 12px 0 0;
	float: left;
}

.content .mainbar img {
	
}

.content .mainbar img.fl {
	margin: 0;
	padding: 0;
	background: #fff;
	border: 1px solid #8b8b8b;
}

.content .mainbar .article {
	margin: 0 0 32px;
	padding: 0;
	border-bottom: 1px solid #d3d3d3;
}

.content .mainbar .post_content {
	float: right;
	width: 420px;
}

.content .mainbar .post_content strong {
	color: #9b0f0f;
}

.content .sidebar {
	padding: 0 20px;
	float: right;
	width: 220px;
}

.content .sidebar .gadget {
	margin: 0 0 12px;
	padding: 8px 0;
	background: repeat-x left bottom;
}

ul.sb_menu,ul.ex_menu {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #929292;
}

ul.sb_menu li,ul.ex_menu li {
	margin: 0;
}

ul.sb_menu li {
	padding: 8px 0;
	width: 220px;
}

ul.ex_menu li {
	padding: 4px 0;
}

ul.sb_menu li a {
	color: #929292;
	text-decoration: none;
	margin-left: -16px;
	padding: 4px 8px 4px 16px;
}

ul.ex_menu li a {
	font-weight: bold;
	color: #3f3f3f;
	text-decoration: none;
}

ul.sb_menu li a:hover,ul.ex_menu li a:hover {
	color: #9b0f0f;
	font-weight: bold;
	text-decoration: underline;
}

p.spec {
	padding: 0 0 16px;
}

p.infopost {
	margin-bottom: 0;
	padding: 0 0 8px;
	color: #929292;
}

p.infopost a {
	padding: 0 2px;
	color: #6e6e6e;
	text-decoration: underline;
}

.content .mainbar a.com {
	margin: 0;
	padding: 0;
	font-weight: normal;
	text-decoration: none;
	color: #3f3f3f;
}

.content .mainbar a.com:hover {
	text-decoration: underline;
}

.content .mainbar a.com span {
	padding-left: 4px;
	font-weight: bold;
	color: #3f3f3f;
}

.content .mainbar a.rm {
	float: left;
	margin: 0 0 16px;
	padding: 0;
	height: 28px;
	font-size: 13px;
	line-height: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: #9b0f0f;
	text-decoration: none;
	text-align: center;
	background: none;
}

.content .mainbar a.rm:hover {
	text-decoration: underline;
}

.content p.pages {
	margin: 0;
	padding: 24px 0;
	font-size: 11px;
	color: #929292;
	text-align: left;
}

.content p.pages span,.content p.pages a {
	padding: 8px 12px;
	text-decoration: none;
	background: #fff;
}

.content p.pages span,.content p.pages a:hover {
	color: #fff;
	background: #9b0f0f;
}

.content p.pages a {
	color: #929292;
}

.content p.pages small {
	font-size: 12px;
	float: right;
}

.content .mainbar .comment {
	margin: 0;
	padding: 16px 0 0 0;
}

.content .mainbar .comment img.userpic {
	border: 1px solid #dedede;
	margin: 10px 16px 0 0;
	padding: 0;
	float: left;
}

.fbg {
	
}

.fbg_resize {
	margin: 0 auto;
	width: 920px;
	padding: 16px 20px;
	color: #fff;
	border-top: 8px solid #9b0f0f;
	background: #9b0f0f;
}

.fbg img.gal {
	margin: 0 8px 8px 0;
	padding: 0;
	border: 1px solid #fff;
}

.fbg .col {
	margin: 0;
	float: left;
}

.fbg .c1 {	
	padding: 0 36px 0 16px;
	width: 280px;
}

.fbg .c2 div{
	margin-left: 20px;
	margin-top: 4px;
	clear:both;
}

.fbg .c2 {
	padding: 50px 16px 0 0;
	width: 280px;
}

.fbg .c3 {
	padding: 0 0 0 16px;
	width: 274px;
}

.fbg .fbg_ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.fbg .fbg_ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.fbg .fbg_ul li a {
	display: block;
	margin: 0;
	padding: 2px 0 2px 12px;
	color: #fff;
	text-decoration: none;
	background: url(../images/li.gif) no-repeat left center;
}

.fbg .fbg_ul li a:hover {
	color: #9b0f0f;
	text-decoration: underline;
}

.fbg .contact_info a {
	color: #9b0f0f;
	text-decoration: underline;
}

.fbg .contact_info span {
	display: block;
	float: left;
	width: 74px;
	font-weight: bold;
	color: #fff;
}

.fbg .contact_info span span {
	font-weight: normal;
}

ol {
	list-style: none;
}

ol li {
	display: block;
	clear: both;
}

ol li label {
	display: block;
	margin: 0;
	padding: 16px 0 0 0;
}

ol li input.text {
	width: 480px;
	border: 1px solid #c0c0c0;
	margin: 0;
	padding: 5px 2px;
	height: 16px;
	background-color: #fff;
}

ol li textarea {
	width: 480px;
	border: 1px solid #c0c0c0;
	margin: 0;
	padding: 2px;
	background-color: #fff;
}

ol li .send {
	margin: 16px 0 0 0;
}

.login,.post_login {
	margin: 0 auto;
	padding: 0;
	height: 50px;
	float: right;
}

#formsearch {
	margin: 0;
	padding: 9px 0 0;
	width: auto;
	height: 30px;
}

#formsearch span {
	display: block;
	margin: 0;
	padding: 0;
	float: left;
	background: url(../images/search_bg.gif) no-repeat left top;
}

#formsearch input.editbox_search {
	margin: 0;
	padding: 8px 6px;
	float: left;
	width: 174px;
	font-size: 12px;
	line-height: 14px;
	color: #aeaeae;
	background: none;
	outline: none;
	border: none;
}

#formsearch input.button_search {
	margin: 0;
	padding: 0;
	border: none;
	float: left;
}

.footer {
	background: #9b0f0f;
	width: 920px;
	margin: 0 auto;
	padding: 0 20px;
}

.footer_resize {
	margin: 0 auto;
	padding: 0 5px;
	width: 920px;
	line-height: 1.5em;
	color: #fff;
}

.footer_resize p {
	margin: 24px 0;
	padding: 0;
	line-height: normal;
	white-space: nowrap;
	text-indent: inherit;
}

.footer_resize a {
	color: #16202e;
	font-weight: bold;
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: underline;
	background-color: transparent;
}

.footer_resize a:hover {
	color: #d8d9d9;
	background-color: transparent;
	text-decoration: none;
}

.footer_resize .lf {
	float: left;
	color: #fff;
	text-shadow: #CCC;
	font-weight: bold;
	font-size: 12px
}

.footer_resize .rf {
	float: right;
	color: #fff;
	text-shadow: #CCC;
	font-weight: bold;
	font-size: 12px
}

a {
	outline: aqua;
	color: #fff;
	text-decoration:none;
	font-size: 13px;
}

a:HOVER {
	font-size: 14px;
	font-weight: bold;
}
/* Mask for background, by default is not display */
#mask {
	display: none;
	background-color: black;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 10;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	z-index: 999;
	text-align: center;
}

/* You can customize to your needs  */
.login-popup {
	width: 500px;
	height: 360px;
	display: none;
	background: #333;
	padding: 10px;
	border: 1px solid white;
	background-color: white;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%;
	margin: 0 auto;
	left: 50%;
	z-index: 99999;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189, 0.8);
	box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px
		rgba(208, 223, 226, 0.4) inset;
	/* CSS3 */
	-moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px
		rgba(208, 223, 226, 0.4) inset;
	/* Firefox */
	-webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px
		5px rgba(208, 223, 226, 0.4) inset;
	/* Safari, Chrome */
	border-radius: 10px;
	-moz-border-radius: 10px;
	/* Firefox */
	-webkit-border-radius: 3px;
	/* Safari, Chrome */;
}

img.btn_close {
	position: absolute;
	right: 1px;
	cursor: pointer;
	border: none;
	margin-top: -30px;
	float: right;
}

fieldset {
	border: none;
}

form.signin {
	padding: 20px;
	margin-top: 15px;
}

form.signin .textbox label {
	display: block;
	padding-bottom: 7px;
}

form.signin .textbox span, .labelDetails .textbox span{
	font-size: 25px;
	font-family: sans-serif;
	display: block;
	float: left;
	margin-top: 5px;
	clear: both;
}
.labelDetails .textbox span {
	font-weight: lighter;
	text-shadow: 0px 1px #aeaeae;
	color:#aeaeae;
	margin-top: 50px;
}
form.signin p,form.signin span {
	color: #999;
	font-size: 11px;
	line-height: 18px;
	padding-top: 5px;
	padding-bottom: 8px;
}

form.signin .textbox input,#ticketForm input, .userDetailsCommon input, .userDetailsCommon textarea {
	display: inline;
	font-family: "Helvetica Neue", Arial, sans-serif;
	border-style: solid;
	border-width: 1px;
	border-color: #dedede;
	color: #777;
	float: left;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	font-size: 1.25em;
	padding: 11px 25px;
	padding-left: 55px;
	width: 300px;
	clear: left;
}
.userDetailsCommon input {
	width:180px;
	padding-left: 20px;
	text-shadow: 0px 1px #aeaeae;
	margin-top: 10px;
	line-height: 10px;
}

.styled-select {
	display: inline;
	font-family: "Helvetica Neue", Arial, sans-serif;
	border-style: solid;
	border-width: 1px;
	border-color: #dedede;
	color: #777;
	float: left;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-appearance: none;
	-moz-appearance: textfield;
	font-size: 1.55em;
	padding: 11px 20px;
	width: 150px;
	height: 42px;
	background-color: white;
	background: rgba(255, 255, 255, 0.9)
		url(../images/down_arrow_select.png) no-repeat right;
}

form.signin input:-moz-placeholder,#ticketForm input:-moz-placeholder {
	color: #bbb;
	text-shadow: 0 0 2px #000;
}

form.signin input::-webkit-input-placeholder,#ticketForm input:-webkit-input-placeholder
	{
	color: #bbb;
	text-shadow: 0 0 2px #000;
}

span.errorMessage {
	margin-left: 5px;
	width: 240px;
	float: right;
	margin-top: 3px;
	font-size: 12px !important;
	font-weight: 80;
	color: red !important;
	font-style: italic;
	text-shadow: 0 0 2px rgb(238, 134, 134);
}

.button {
	height: 2em;
	margin-top: 15px;
	clear: both;
	padding: 0 1em;
	border: 1px solid;	
	outline: 0;
	float: left;
	font-weight: bold;
	font-size: 1.3em;
	color: #fff;
	text-shadow: 0px 1px 0px #222;
	white-space: nowrap;
	word-wrap: normal;
	vertical-align: middle;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border-color: #030a03 #071807 #000;
	-moz-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
	-ms-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
	-webkit-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
	box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
	background-color: #1c2107;
	background-image: -moz-linear-gradient(top, rgb(255, 211, 211) 3%,
		rgb(233, 108, 108) 3%, rgb(237, 28, 36) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, rgb(255,
		211, 211)), color-stop(3%, rgb(233, 108, 108)),
		color-stop(100%, rgb(237, 28, 36)));
	background-image: -webkit-linear-gradient(top, rgb(255, 211, 211) 3%,
		rgb(233, 108, 108) 3%, rgb(237, 28, 36) 100%);
	background-image: -o-linear-gradient(top, rgb(255, 211, 211) 3%,
		rgb(233, 108, 108) 3%, rgb(237, 28, 36) 100%);
	background-image: -ms-linear-gradient(top, rgb(255, 211, 211) 3%,
		rgb(233, 108, 108) 3%, rgb(237, 28, 36) 100%);
	background-image: linear-gradient(top, rgb(255, 211, 211) 3%,
		rgb(233, 108, 108) 3%, rgb(237, 28, 36) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(        startColorstr='#e2eeaf',
		endColorstr='#90b026', GradientType=0);
}

.button:hover {
	background: #fff;
	color: rgb(237, 28, 36);
	text-shadow: 0px 1px 0px rgb(255, 211, 211);
}

.reset_password {
	display: block;
	margin: 10px;
	padding: 10px;
	width: 650px;
}

.heading {
	font-size: 25px;
	color: #3f3f3f;
	font-weight: bold;
	text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.5);
}

.username input:hover {
	border-style: solid;
	border-color: maroon;
}

div.reset_password p {
	color: #3f3f3f;
	font-size: 16px;
}

.forgot {
	clear: both;
}

.forgot a {
	color: rgb(237, 28, 36);
}

.seat_plan_header {
	font-size: 22px;
	text-shadow: 0 -1px 0 #fff;
	color: rgb(237, 28, 36);
	font-weight: bolder;
	margin: 15px 0px 50px;
	width: 600px;
	height: 0px;
	text-align: center;
}

.seatingArrangement {
	width: 600px;
	border: 1px solid rgba(204, 204, 204, 1);
	height: 550px;
	background-color: rgba(0, 0, 0, 1);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 40px 5px 0px 5px;
	bor
}

.plan,.platinum_plan,.ultra_plan {
	margin-top: 30px
}

table.plan td {
	width: 30px;
	height: 25px;
	padding: 5px;
	font-family: 'DroidSansBold';
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	background: url(../images/blankSeat.png) no-repeat center;
	background-color: #000;
	color: white;
}

table.platinum_plan td {
	width: 23px;
	height: 25px;
	padding: 3px;
	font-family: 'DroidSansBold';
	font-size: 12px;
	font-weight: lighter;
	text-align: center;
	background: url(../images/blankSeat_small.png) no-repeat center;
	background-color: #000;
	color: white;
}

table.plan td.blank,table.ultra_plan td.blank,table.platinum_plan td.blank
	{
	background: none;
	cursor: default;
	background-color: #000;
}

table.ultra_plan td {
	width: 27px;
	height: 25px;
	padding: 4px;
	font-family: 'DroidSansBold';
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	background: url(../images/blankSeat_small.png) no-repeat;
	background-color: #000;
	color: white;
}

table.plan td.ctmgmt,table.ultra_plan td.ctmgmt,table.ultra_plan td.ctmgmt:hover,table.platinum_plan td.ctmgmt,table.platinum_plan td.ctmgmt:hover
	{
	background-color: rgba(255, 55, 61, 1);
}

table.plan td.sampath,table.ultra_plan td.sampath,table.platinum_plan td.sampath,table.plan td.sampath:hover,table.ultra_plan td.sampath:hover,table.platinum_plan td.sampath:hover
	{
	background-color: rgba(255, 204, 51, 1);
}

.theater {
	background: #000;
	width: 480px;
	height: 300px;
	background: url(../images/filmhall.png);
}

table.plan td:HOVER {
	background: #000 url(../images/onMouseOver.png) no-repeat center;
}

table.ultra_plan td.blank:hover,table.platinum_plan td.blank:hover {
	background: none;
	cursor: default;
	background-color: #000;
}

table.ultra_plan td:HOVER,table.platinum_plan td:HOVER {
	background: #000 url(../images/onMouseOver_small.png) no-repeat;
}

.td_after_select {
	background: url(../images/selected.png) no-repeat !important;
}

#ticketForm {
	width: 95%;
	height: 150px;
	background: #fff;
	padding: 10px;
	margin-bottom: 30px;
	position: relative;
	box-shadow: 0pt 2px 3px rgba(105, 108, 109, 0.7), 0px 0px 4px 2px
		rgba(208, 223, 226, 0.4) inset;
	/* CSS3 */
	-moz-box-shadow: 0pt 2px 3px rgba(105, 108, 109, 0.7), 0px 0px 4px 2px
		rgba(208, 223, 226, 0.4) inset;
	/* Firefox */
	-webkit-box-shadow: 0pt 2px 3px rgba(105, 108, 109, 0.7), 0px 0px 4px
		2px rgba(208, 223, 226, 0.4) inset;
	/* Safari, Chrome */
	border-radius: 10px;
	-moz-border-radius: 10px;
	/* Firefox */
	-webkit-border-radius: 3px;
	/* Safari, Chrome */;
}

#ticketForm form label {
	display: block;
	padding-bottom: 7px;
}

#ticketForm form label {
	font-size: 20px;
	font-weight: bold;
	font-family: sans-serif;
	display: block;
	float: left;
	margin-top: 5px;
	clear: both;
	padding: 10px
}

#ticketForm form label span {
	float: left;
}

#ticketForm div {
	position: absolute;
	clear: left;
}

#ticketForm form input[type="number"] {
	font-size: 18px;
	clear: both;
	margin-top: 15px;
	width: 110px;
	height: 20px;
}

#ticketForm form input[type="date"] {
	width: 160px;
	height: 20px;
	font-size: 18px;
	clear: both;
	margin-top: 15px;
	padding-left: 15px;
	padding-right: 10px;
}

#userForm {
	width: 840px;
	height: 750px;
	background: #fff;
	margin: 50px;
	padding: 10px;
	margin-bottom: 30px;
	box-shadow: 0pt 2px 3px rgba(105, 108, 109, 0.7), 0px 0px 4px 2px
		rgba(208, 223, 226, 0.4) inset;
	/* CSS3 */
	-moz-box-shadow: 0pt 2px 3px rgba(105, 108, 109, 0.7), 0px 0px 4px 2px
		rgba(208, 223, 226, 0.4) inset;
	/* Firefox */
	-webkit-box-shadow: 0pt 2px 3px rgba(105, 108, 109, 0.7), 0px 0px 4px
		2px rgba(208, 223, 226, 0.4) inset;
	/* Safari, Chrome */
	border-radius: 10px;
	-moz-border-radius: 10px;
	/* Firefox */
	-webkit-border-radius: 3px;
	/* Safari, Chrome */;
}

.infoMsg, .successMsg, .warningMsg, .errorMsg{
	border: 1px solid;
	margin: 10px auto 0 auto;
	padding: 15px 10px 15px 50px;
	border-radius: 5px;
	width: 80%;
}

.infoMsg {
	color: #00529B;
	background: url(../images/msgInfo.png) no-repeat #BDE5F8 10px center;
}

.successMsg {
	color: #4F8A10;
	background: url(../images/msgSuccess.png) no-repeat #DFF2BF 10px center;
}

.warningMsg {
	color: #9F6000;
	background: url(../images/msgWarning.png) no-repeat #FEEFB3  10px center;
}

.errorMsg {
	color: #D8000C;
	background: url(../images/msgError.png) no-repeat #FFBABA 10px center;
}

.devider {
  	width: 2px;
  	float: left;
  	height: 500px;
  	margin:130px 30px 0 300px;
  	position: absolute;
  	background: #aeaeae;
	background: linear-gradient(top, #aeaeae 0%, #4f5964 40%);
	background: -moz-linear-gradient(top, #aeaeae 0%, #4f5964 40%);
	background: -webkit-linear-gradient(top, #aeaeae 0%,#4f5964 40%);
	box-shadow: 0.7px -2px 9px rgba(0,0,4,0.15);
}

.userDetailsCommon {
	position: absolute;
	margin:80px 30px 0 350px;
}
.tabHeader, .adminTabHeader{
	width: 100%;
	padding: 0px;
}
.tabHeader nav ul, .adminTabHeader nav ul {
	width:840px;
	padding:0px;
	background: #fff;
	background: linear-gradient(top, #fff 0%, #fffdfd 100%);
	background: -moz-linear-gradient(top, #fff 0%, #fffdfd 100%);
	background: -webkit-linear-gradient(top, #fff 0%, #fffdfd 100%);
	box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.15);
	list-style: none;
	position: relative;
	display: inline-table;
	float: left;
}

.tabHeader nav ul:after, .adminTabHeader nav ul:after {
	content: "";
	clear: both;
	display: block;
}

.tabHeader nav ul li, .adminTabHeader nav ul li {
	height:80px;
	float: left;
}

.tabHeader nav ul li:hover, .adminTabHeader nav ul li:hover {
	background: #9b0f0f;
	background: linear-gradient(top, #9b0f0f 0%, #be1319 40%);
	background: -moz-linear-gradient(top, #9b0f0f 0%, #be1319 40%);
	background: -webkit-linear-gradient(top, #9b0f0f 0%, #be1319 40%);
}

.tabHeader	nav ul li:hover a, .adminTabHeader nav ul li:hover a {
	color: #fff;
}

.tabHeader	nav ul li a {
	display: block;
	padding: 25px 40px;
	color: #681237;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}
.adminTabHeader nav ul li a{
	display: block;
	padding: 25px 25px;
	color: #681237;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
}
.labelDetails {
	position: absolute;
	float: left;
	margin-left: 30px;
	margin-top: 70px;
}
#accountDetails, #movieDetails {
	display: block;
}
#purchaseHistory, #changePassword, #reports, #userDetails, #hallDetails, #movieDetails, #showTimeRules {
	display: none;
}
input[type=checkbox].css-checkbox {
position: relative; 
overflow: hidden; 
clip: rect(0 0 0 0); 
height:40px; 
width:40px; 
margin:-1px; 
padding:0;
border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
padding-left:20px;
height:15px; 
display:inline-block;
line-height:15px;
background-repeat:no-repeat;
background-position: 0 0;
font-size:15px;
vertical-align:middle;
cursor:pointer;
}
.searchBut {
	width: 30px;
	height: 30px;
	position:relative;
	float:left;
	margin-left:10px;
	background: url(../images/search.gif) no-repeat center;
	border-radius: 2px;
	
}
.searchBut:HOVER {
	border: 2px rgb(253,184,6) solid;
	box-shadow: 1px 2px 5px rgba(0,0,4,0.15)
}

#commingSoon, .movieBoard {
	margin: 10px 20px 30px 20px;
	background: #FFF;
	width : 900px;
	height : 250px;
	box-shadow: 0pt 2px 3px rgba(105, 108, 109, 0.7), 0px 0px 4px 2px
		rgba(208, 223, 226, 0.4) inset;
	/* CSS3 */
	-moz-box-shadow: 0pt 2px 3px rgba(105, 108, 109, 0.7), 0px 0px 4px 2px
		rgba(208, 223, 226, 0.4) inset;
	/* Firefox */
	-webkit-box-shadow: 0pt 2px 3px rgba(105, 108, 109, 0.7), 0px 0px 4px
		2px rgba(208, 223, 226, 0.4) inset;
	/* Safari, Chrome */
	border-radius: 10px;
	-moz-border-radius: 10px;
	/* Firefox */
	-webkit-border-radius: 3px;
	padding: 10px;
	vertical-align: middle;
	position: absolute;
}

.commingSoonTitle {
	margin: 20px 0 0 350px; 
	color: #000111;
	text-align:center;
	text-shadow: 0px 1px 2px gray;
	vertical-align: middle;
	font-size: 15px;
	font-weight: bold;
}

.movieBoard {
	margin-top: 300px;
	height: 900px;
	font-size: 15px;
}
.movieSection {
	margin:20px 10px 10px 10px;
	width:430px;
	height: 400px;
	box-shadow: 0pt 2px 3px rgba(105, 108, 109, 0.7), 0px 0px 4px 2px
		rgba(208, 223, 226, 0.4) inset;
	position: relative;
}

.movieSection div.movieSectionHeader {
	width: 392px;
	height: 20px;
	background: #000;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-size: 16px;
	font-style: oblique;
	font-weight: bolder;
	font-stretch:expanded;
	box-shadow: 0pt 2px 3px rgba(105, 108, 109, 0.7), 0px 0px 4px 2px
		rgba(208, 223, 226, 0.4) inset;
	text-shadow: 0px 1px 0px #FFFFAA;
	clear:both;
}

.movieSection div.movieSectionImage {
	width:214px;
	height: 315px;
	float:left;
	margin: 8px 3px 8px 8px;
	box-shadow: 0pt 2px 3px rgba(105, 108, 109, 0.7), 0px 0px 4px 2px
		rgba(208, 223, 226, 0.4) inset;
}

.movieSection div.showDetails {
	width: 180px;
	height: 150px;
	float:right;
	margin: 20px 10px 20px 10px;
	text-align:justify;
	font-size: 11.5px;
	font-weight: 400;
	color: #333;
	font-stretch: expanded;
	text-shadow: 0px 0px 1px gray;
	font-family: Verdana,Arial,sans-serif;
}

.movieSection div.showTimes {
	width: 180px;
	height: 220px;
	float: right;
	margin-right: 10px;
}

.movieSection div.showTimes div {
	padding: 6px 2px 3px 2px;
	margin: 3px;
	clear: both;	
	font-size: 15px;
	vertical-align: middle;
	text-align:center;
	color: graytext;
	font-weight: bold;
	box-shadow: 1pt 1px 3px rgba(105, 108, 109, 0.7), 0px 0px 4px 2px
		rgba(208, 223, 226, 0.4) inset;
}
.socialLinks {
	margin:100px 20px 10px 30px;
	padding: 10px;
}
.socialLinks a {
	position: relative;
	margin-right: 3px;
}

.image_carousel {
	padding: 15px 0 15px 40px;
	position: relative;
}
.image_carousel img {
	box-shadow: 1pt 1px 3px #ccc, 0px 0px 4px 2px;
	background-color: white;
	padding: 1px;
	margin: 14px 70px 7px 20px;
	display: block;
	float: left;
}
a.prev, a.next {
	background: url(../images/miscellaneous_sprite.png) no-repeat transparent;
	width: 45px;
	height: 50px;
	display: block;
	position: absolute;
	top: 85px;
}
a.prev {			left: -22px;
					background-position: 0 0; }
a.prev:hover {		background-position: 0 -50px; }
a.prev.disabled {	background-position: 0 -100px !important;  }
a.next {			right: -22px;
					background-position: -50px 0; }
a.next:hover {		background-position: -50px -50px; }
a.next.disabled {	background-position: -50px -100px !important;  }
a.prev.disabled, a.next.disabled {
	cursor: default;
}

a.prev span, a.next span {
	display: none;
}
.pagination {
	text-align: center;
}
.pagination a {
	background: url(../images/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
	width: 15px;
	height: 15px;
	margin: 0 5px 0 0;
	display: inline-block;
}
.pagination a.selected {
	background-position: -25px -300px;
	cursor: default;
}
.pagination a span {
	display: none;
}
.clearfix {
	float: none;
	clear: both;
}
#imageSlider {
	
}

.tLegend {
	float:right;
	background: #fff; 
	width:200px; 
	height:170px; 
	position:relative;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 3px gray inset;
	-moz-box-shadow: 0 1px 3px gray inset;
	-webkit-box-shadow: 0 1px 3px gray inset;
}

.tLegend span{
	color: graytext;
	font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.tLegend div {
	margin-top :10px;
}

.tLegend div img {
	float:left;
	margin-left:10px;
	clear : left;
}

.tLegend div span {
	font-size: 14px;
    font-weight: normal;
    padding-top:100px;
    line-height: 20px;
}