@charset "utf-8";

body {
	background: url(../images/redeemBackground.jpg) repeat;
}

.redeemInput,  #ticketDetails span.value {
    background-color: #FDFDFD;
    border: 1px solid #D8D8D8;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 2px 2px 4px #F1F1F1 inset;
    color: #8E8D8D;
    display: block;
    font-family: "Droid Sans";
    font-size: 20px;
    margin: 15px 0 -3px;
    padding: 11px 15px 10px 15px;
    width: 300px;
    height: 20px;
    text-align: center;
}

#ticketDetails span.name {
	color: #8E8D9F;
	width: 150px;
    height: 20px;
    font-family: "Droid Sans";
    font-size: 20px;
    border-bottom: none;
    margin: 10px 0 0 20px;
    clear: none;
    float: left;
    padding: 25px 0 0 0;
}

#ticketDetails span.value {
	background-color: #F2F0F0;
	float: left;
	clear: right;
	width: 150px;
	margin: 18px 0 0 0;
}

#redeem {
	position:fixed;
    top: 55%;
    left: 55%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; 
    border: none;
}

#redeem span, #ticketDetails span {
	border-bottom: 1px solid #8E8D8D;
	width: 270px;
	margin: 0px 20px 0px 20px;
	font-family: "Droid Sans";
    font-size: 24px;
    color: #545454;
    display: block;
    font-weight: bold;
    padding: 4px 5px 10px 4px;
}

#redeem button, #ticketDetails button {
	height: 2em;
	margin: 35px 0px 0px 95px;
	clear: both;
	padding: 10px 15px 27px 15px;
	border: 1px solid;	
	outline: 0;
	float: left;
	font-weight: bold;
	font-size: 16px;
	color: #545454;
	text-shadow: 0px 1px 0px #222;
	white-space: nowrap;
	word-wrap: normal;
	vertical-align: middle;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 3px;
	border-color: #030a03 #071807 #000;
	-moz-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
	-ms-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
	-webkit-box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
	box-shadow: inset 0 1px 0 rgba(256, 256, 256, .35);
	background-color: #fff;	
	filter: progid:DXImageTransform.Microsoft.gradient(        startColorstr='#e2eeaf',
		endColorstr='#90b026', GradientType=0);
}

#redeem button:hover, #ticketDetails button:HOVER {
	background: #8E8D8D;
	color:#fff;
	text-shadow: 0px 1px 0px rgb(255, 211, 211);
}

#ticketDetails {
	position:relative;
    top: 337.8px;
    left: 1000px;
    width:30em;
    height:22em;
    margin-top: -9.5em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; 
    display: none;
    border-left: 1px solid #8E8D8D;
    padding: 0px 20px 20px 20px;
}
